# SPI
set_io -nowarn spi_mosi 14
set_io -nowarn spi_miso 17
set_io -nowarn spi_clk 15
set_io -nowarn spi_cs_n 16

# USB
set_io -nowarn usb_dp 25
set_io -nowarn usb_dn 23
set_io -nowarn usb_pu 35

# UART
set_io -nowarn uart_rx 42
set_io -nowarn uart_tx 38

# Clock
set_io -nowarn clk_in 20

# Button (shared with SDA)
set_io -nowarn btn 9

# LED (shared with SCL)
set_io -nowarn led 6
