# SPI
set_io -nowarn -pullup yes spi_mosi 14
set_io -nowarn -pullup yes spi_miso 17
set_io -nowarn -pullup yes spi_clk  15
set_io -nowarn -pullup yes spi_cs_n 16

# USB
set_io -nowarn usb_dp 19
set_io -nowarn usb_dn 18
set_io -nowarn usb_pu 21

# Button
set_io -nowarn btn 48

# Power
set_io -nowarn -pullup yes -pullup_resistor 100K pwr_usb_n 45
set_io -nowarn -pullup yes -pullup_resistor 100K pwr_chg_n 44
set_io -nowarn -pullup no  pwr_off   47

# LED matrix
set_io -nowarn -pullup no led_a[0]  42
set_io -nowarn -pullup no led_a[1]  43
set_io -nowarn -pullup no led_a[2]  23
set_io -nowarn -pullup no led_a[3]  25
set_io -nowarn -pullup no led_a[4]  26
set_io -nowarn -pullup no led_a[5]  27
set_io -nowarn -pullup no led_a[6]  28
set_io -nowarn -pullup no led_a[7]  31
set_io -nowarn -pullup no led_a[8]  32
set_io -nowarn -pullup no led_a[9]  34
set_io -nowarn -pullup no led_a[10] 35
set_io -nowarn -pullup no led_a[11] 36
set_io -nowarn -pullup no led_a[12] 37
set_io -nowarn -pullup no led_a[13] 38

set_io -nowarn led_c[0] 39
set_io -nowarn led_c[1] 40
set_io -nowarn led_c[2] 41
